body {
  background: #ffffff;
  text-align: center;
  font-family: Nunito, sans-serif;
}
#container {
  background: linear-gradient(to top right, #95c5ce, #3782ad);
  width: 500px; /* Set the width and height to make it square */
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 5px 5px 10px rgba(9, 32, 50, 0.7);
  padding-bottom: 20px;
}

#title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  padding-top: 30px;
  text-shadow: #1e5270 4px 4px;
}

#weatherIcon {
  width: 200px;
  height: 200px;
}

.data {
  font-family: Nunito, sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-shadow: #1e5270 2px 2px;
}

#buttonDiv {
  text-align: center;
}
.buttons {
  background-color: #376a87;
  border-radius: 8px;
  font-size: 14px;
  border-color: aliceblue;
  font-weight: 600;
  color: #ffffff;
  margin-left: 20px;
  font-family: Nunito, sans-serif;
  box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.7);
}
